$footer-height: 60px;
$margin: 10px;
$marginLeft: 10px;
$marginRight: 10px;

@if button {
  $marginLeft: 5px;
  $marginRight: 5px;
}
html {
  height: 100%;
  box-sizing: border-box;
}
.margin-top {
  margin-top: $margin;
}
.margin-left {
  margin-left: $marginLeft;
}
.margin-bottom {
  margin-bottom: $margin;
}
.margin-right {
  margin-right: $marginRight;
}
.margin-all {
  margin: $margin;
}

button {
  &[ type="submit" ] {
    border-radius: 0;
  }
}



.form-control {
  border-radius: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.table-datatable {
  .thead-default {
    .thead-tr-default {
      .thead-th-default {
        &.sortable { // If and only if a column is sortable
          &:hover {
            background: #000; // Your color of choice
            cursor: pointer; // Changes the cursor into a pointer on hover
          }
        }
      }
    }
  }

  .tbody-default {
    .tbody-tr-default {
      .tbody-td-default {
        // do what you want
      }
    }
  }
}

.no-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.pagination {
  margin-top: 15px;
}

.capitalize {
  text-transform: capitalize;
}

.badge-default {
  border-radius: 100px !important;
  background-color: transparent !important;
  color: #333 !important;
  border: 1px solid #333 !important;
}