.search-dropdown {
  min-height: 0;
  background-color: #fff;
  min-width: 900px;
  border: 1px solid #333;
  position: absolute;
  z-index: 99999;
  top: 37px;
  .header-search-submit {
    margin-left: 0 !important;
  }
  .search-list {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    margin-left: 0;
    h3 {
      margin-top: 10px;
      font-weight: 800;
    }
    .search-item {
      width: 100%;
      position: relative;
      cursor: pointer;
      min-height: 100px;
      margin-bottom: 8px;
      img {
        position: absolute;
        left: 0;
        width: 100px;
      }
      hr {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
      .music-search-result-title-container {
        position: absolute;
        bottom: 5px;
        left: 115px;
        overflow: hidden;
      }
      a {
        color: #333;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          color: #fff;
        }
      }
      &:hover {
        background-color: #337ab7;
        color: #fff;
        hr {
          display: none;
        }
      }
    }
    li {
      font-size: 18px;
      font-weight: 800;
    }
    i {
      font-size: 12px;
    }
    hr {
      margin: 0;
    }
  }
}

.search-input {
  position: relative;
  &:not(:focus) {
    .search-dropdown {
      display: none;
    }
  }
}

