/**
 * Set up a decent box model on the root element
 */
html, body {
  margin: 0;
  padding: 0;

  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;

  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
}

html {
  box-sizing: border-box;
}
